nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    min-width: 50%;
    margin: 0 auto;
    max-height: 10em;
    border-bottom: 2px solid #830202;
    background-color: #000000;
    padding: 0px;
    margin: 0px;
}
body {
    max-width: 100%;
    background-color: #000000;
}
.logo {
align-content: center;
font-family: "IBM Plex Mono", serif;
font-size: 3em;
padding: 0px;
text-shadow: #830202 5px 5px 10px;
}
.menu {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 2em;
    font-size: 1em;
}
li {
    list-style-type: none;
    text-align: center;
}
a {
    font-family: "IBM Plex Mono", serif;
    text-decoration: none;
    color: #81d003;
    font-size: 10px;
    }
.ibm-plex-mono-medium {
    font-family: "IBM Plex Mono", serif;
    font-weight: 500;
    font-style: normal;
  }
.home {
    font-family: "IBM Plex Mono", serif;
    color: #81d003;
    align-content: center;
    margin: 0em 0 0 0em;
}
.home-logo {
    font-family: "IBM Plex Mono", serif;
    font-size: 1.81em;
    color: #81d003;
    text-align: center;
    font-weight: 600;
    margin: 1em 0 0 0em;
}
.home-p {
    font-family: "IBM Plex Mono", serif;
    font-size: .8em;
    color: #81d003;
    text-align: center;
    font-weight: 300;
    margin: .25em 0 0 0em;
}
.who {
    font-family: "IBM Plex Mono", serif;
    font-size: 10px;
    color: #81d003;
    text-align: center;
    margin-top: 50px;
}
.what {
    font-family: "IBM Plex Mono", serif;
    font-size: 10px;
    color: #81d003;
    text-align: center;
    margin-top: 50px;
}
.portfolio {
    font-family: "IBM Plex Mono", serif;
    font-size: 10px;
    color: #81d003;
    text-align: center;
    margin-top: 50px;
}